<%-
  @title = 'Mailers'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
-%>

<h1>Edit Mailer</h1>

<%= form_tag :controller => 'mailers', :action => 'update', :id => @mailer do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= form_tag :controller => 'mailers', :action => 'view', :id => @mailer do %> 
  <%= submit_tag "Cancel" %>
<% end %>
