<%-
  @title = 'Mailers'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
-%>

<h1>View Mailer</h1>

 <%= render :partial => 'view' %>

<br />

<table>
	<tr>
	  <td>
      <%= form_tag :controller => 'mailers', :action => 'edit', :id => @mailer do %>
        <%= submit_tag 'Edit' %>
      <% end %>	
    </td>
    
		<td>
		<%= form_tag :controller => 'mailers', :action => 'destroy', :id => @mailer do %>
		  <%= submit_tag "Delete" %>
		<% end %>
		</td>

		<td>
		<%= form_tag :controller => 'mailers', :action => 'list' do %>
		  <%= submit_tag "Cancel" %>
		  &nbsp;
		<% end %>
		</td>
	</tr>
</table>

<br />

<table>
	<tr>
	  <td>
      <%= form_tag :controller => 'mailers', :action => 'send_test', :id => @mailer do %> 
        <%= submit_tag "Test" %>
      <% end %>
		</td>

	  <td>
      <%= form_tag :controller => 'mailers', :action => 'process_emails', :id => @mailer do %> 
        <%= submit_tag "Process" %>
      <% end %>
		</td>
	</tr>
</table>