<table>
<tr>
<td>
<%= form_tag :action => 'edit', :id => @player do %>
  <%= submit_tag "Edit" %>
    &nbsp;
<% end %>
</td>

<td>
<%= form_tag :action => 'new' do %>
  <%= submit_tag "Register Another Child" %>
    &nbsp;
<% end %>
</td>

<td>
<%= form_tag :action => 'pay' do %>
  <%= submit_tag "Pay" %>
    &nbsp;
<% end %>
</td>

<td>
<%= form_tag :action => 'delete_confirm', :id => @player do %>
  <%= submit_tag "Delete" %>
  &nbsp;
<% end %>
</td>

<td>
<%= form_tag( { :action => 'print', :id => @player }, { :target => "_blank" }) do %>
  <%= submit_tag "Print"%>
  &nbsp;
<% end %>
</td>
</tr>
</table>
